version: '3.7'

services:
  db:
    container_name: mysql-db
    image: mysql:{{ mysql_version }}
    volumes:
      - mysql-volume:/var/lib/mysql/
    restart: on-failure
    # ports:
    #   - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_DATABASE={{ mysql_database }}
      - MYSQL_USER={{ mysql_user }}
      - MYSQL_PASSWORD={{ mysql_password }}
    networks:
      - wordpress_network
  wordpress:
    container_name: wordpress
    image: wordpress:latest
    volumes:
      - wordpress-volume:/var/www/html
    ports:
      - 8000:80
    restart: on-failure
    environment:
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER={{ mysql_user }}
      - WORDPRESS_DB_PASSWORD={{ mysql_password }}
      - WORDPRESS_DB_NAME=wordpress
    networks:
      - wordpress_network
  web:
    container_name: nginx
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/ssl/private/nginx.key:/etc/ssl/private/nginx.key
      - /etc/ssl/certs/nginx.crt:/etc/ssl/certs/nginx.crt
    
volumes:
  wordpress-volume:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/hkrifa/data/wordpress'
  mysql-volume:
     driver: local
     driver_opts:
       type: 'none'
       o: 'bind'
       device: '/home/hkrifa/data/mysql'
networks:
  wordpress_network: